/* Style the navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  padding: 4px 0; /* Adjusted padding for the top and bottom */
}

/* Navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center; /* center text on hyperlink box */
  text-decoration: none; /* remove underline hyperlink syntax */
  width: 50%; /* Set width to half the size of box */
  margin-left: 25%; /* Offset links by 25% to center them in their box */
  box-sizing: border-box;
}

/* Change the color of the links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Clear floats after the navbar */
.navbar::after {
  content: "";
  clear: both;
  display: table;
}

/* Style the boxes for each navigation item */
.navbar-box {
  float: left;
  width: 19.68%; /* provides enough background space for even borders */
  text-align: center;
  padding: 10px 0;
  margin-left: 0.27%; /* retain borders on resize - use relative measurement */
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/* Style the content inside the boxes */
.navbar-box a {
  text-decoration: none;
  color: #333;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image-container {
  flex: 0 0 auto;
  margin-right: 30px; /* Adjust the margin as needed */
}

.header-image-container img {
  height: 70px;
}

.header-text-container {
  flex: auto;
  text-align: center;
  margin-right: 150px;
}
